<div class="container">


  <h1 class="title">Gallery</h1>


  <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
    alt="background" srcset="" class="image1">
  <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
    alt="background" srcset="" class="image2">
  <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
    alt="background" srcset="" class="image3">

</div>